@model VeterinariaApp.Models.Mascota

<h2>Registrar Mascota</h2>

<form asp-action="Create" method="post">
    <label>Nombre:</label>
    <input asp-for="Nombre" class="form-control" />

    <label>Especie:</label>
    <input asp-for="Especie" class="form-control" />

    <label>Raza:</label>
    <input asp-for="Raza" class="form-control" />

    <label>Edad:</label>
    <input asp-for="Edad" class="form-control" />

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
